body {
    background-color: rgb(54, 54, 54);
}

.wrapper {
    margin-left: 600px;
    height: 800px;
    width: 800px;
    border: 2px solid black;
    display: grid;
}

grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(10, 1fr);